// rem，页面中要设置root
@function rem($px) {
	@return $px/100px + rem
};
// 除法
@function division($x, $y) {
	@return $x/$y
};
// 乘法
@function multiply($x, $y) {
	@return $x*$y
};
// 边框1px问题
@mixin border($border: 1px solid red, $radius: 30px, $background: #fff) {
	position: relative;
	border-radius: rem($radius);
	background: $background;
	&::after {
		content: ' ';
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		transform-origin: left top;
		box-sizing: border-box;
		border: $border;
	}
	@for $i from 1 through 3 {
		@media (-webkit-min-device-pixel-ratio:$i) {
			&::after {
				transform: scale(division(1, $i));
				width: multiply(100%, $i);
				height: multiply(100%, $i);
				border-radius: rem(multiply($radius, $i));
			}
		}
	}
}
